@font-face {
  font-family: 'Yekan Bakh';
  src: url('fonts/YekanBakh/YekanBakh.ttf') format('truetype'),
       url('fonts/YekanBakh/YekanBakh.woff') format('woff'),
}


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: initial;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Yekan Bakh", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f3f6fe;
  color: #11192f;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #1a5cff;
}
